<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211348430620-7giig1i6e1nkiq012jbmn7t7q21t61du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211348430620-7giig1i6e1nkiq012jbmn7t7q21t61du</string>
	<key>API_KEY</key>
	<string>AIzaSyBOxlLb0E3Q97iNWtsiTqNaoNitz5zCZcY</string>
	<key>GCM_SENDER_ID</key>
	<string>211348430620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterlogin</string>
	<key>PROJECT_ID</key>
	<string>flutterlogin-83aa5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlogin-83aa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211348430620:ios:9783d524f47528b264e4d9</string>
</dict>
</plist>